header {
    width: 100%;
    background-color: #262626;
}
header h1 {
    width: 1400px;
    padding: 20px 0 0;
    margin: 0 auto;
    color: #ffffff;
}
header h2 {
    width: 1400px;
    padding: 10px 0 20px;
    margin: 0 auto;
    color: #ffffff;
}
#content {
    width: 1400px;
    margin: 50px auto;
}
ul {
    list-style-type: none;
    margin: 0 0 40px;
}
ul li {
    padding: 5px 0;
}
ul .name {
    display: inline-block;
    width: 300px;
    float: left;
    text-align: right;
    margin-right: 30px;
    margin-top: 8px;
    font-size: 24px;
}
h3 {
    font-size: 26px;
    line-height: 30px;
    background-color: #E5E5E5;
    color: #3B3B3B;
    padding: 5px 10px;
}
h4 {
    font-size: 22px;
    line-height: 30px;
    border-bottom: 1px solid #E5E5E5;
    padding: 5px 10px;
    margin: 0 0 15px;
}
h4 img {
    height: 30px;
    vertical-align: middle;
    margin-right: 5px;
}

.pure-table td, .pure-table th {
    text-align: center;
    padding: 15px;
}

th, td {
    text-align: left;
}

#list_matchs {
    float: left;
    width: 972px;
}

#config {
    float: right;
    width: 400px;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

label {
    display: block;
    font-size: 16px;
    line-height: 20px;
}

#config input {
    width: 388px;
}

#config select {
    width: 388px;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.hide {
    display: none;
}